<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>标题</title>
</head>
<body>
<h1>首页</h1>
<a th:href="@{/hello/testRequestMapping}">测试@RequestMapping注解的位置</a><br>
<a th:href="@{/hello/testValue1}">测试@RequestMapping注解的value属性-testValue1</a><br>
<a th:href="@{/hello/testValue2}">测试@RequestMapping注解的value属性-testValue2</a><br>
<!--form表单的请求方式只能设置post或者get请求方式，默认情况下form表单使用get请求方式-->
<form th:action="@{/hello/testMethod}" method="post">
    <input type="submit" value="测试@RequestMapping注解的method属性-POST">
</form>
<!--超链接是使用HTTP请求方式中的GET方式的请求，如果控制层的映射注解修改为POST请求方式则会报405异常方法不允许-->
<a th:href="@{/hello/testGetMapping}">测试@GetMapping注解的->testGepMapping</a><br>
<a th:href="@{/hello/testParams?username='sam'&password=123}">测试@RequestMapping注解的params属性-方式一->testParams</a><br>
<a th:href="@{/hello/testParams(username='admin',password=123)}">测试@RequestMapping注解的params属性-方式二>testParams</a><br>
<a th:href="@{/hello/testHeaders}">测试@RequestMapping注解的headers属性->testHeaders</a><br>
<a th:href="@{/hello/test/a1a/ant}">测试@RequestMapping可以匹配ant风格的请求路径</a><br>
<a th:href="@{/hello/test/rest/1/alex}">测试路径中的占位符</a>
</body>
</html>