<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>首页</h1>
<a th:href="@{/scope/testRequestByServletAPI}">通过ServletAPI向Request域对象共享数据</a><br>
<a th:href="@{/scope/testModelAndView}">通过ModelAndView向Request域对象共享数据</a><br>
<a th:href="@{/scope/testModel}">通过Model向Request域对象共享数据</a><br>
<a th:href="@{/scope/testMap}">通过Map向Request域对象共享数据</a><br>
<a th:href="@{/scope/testModelMap}">通过ModelMap向Request域对象共享数据</a><br>
<a th:href="@{/scope/testSessionByServletAPI}">通过ServletAPI向session域对象共享数据</a><br>
</body>
</html>